{% extends 'client-panel/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-lg-12 mb-4 order-0 py-4 mt-5">
        <div class="card p-5">
            <div class="d-flex align-items-end row">
                <div class="col-12">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Logout {{request.user.email}} ? 🎉</h5>
                        <p class="mb-4">
                            If you <span class="fw-bold">want to </span> sign out. Click the logout button below!
                        </p>

                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-outline-primary" type="submit">Logout</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}