{% extends 'admin-panel/pages/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{{ form.media }}

<!-- Form From Here -->
<div class="container mt-5">

    <div class="d-flex justify-content-between my-5">
        <span>{{title}}</span>
        <a class="btn btn-danger" href="{{redirect_url}}">Cancel</a>
    </div>
    <div class="card p-2">
        {% if object and show_object %}
        <p>Name : {{object.name}}</p>
        <p>Is Published : {% if object.published %} Yes {% else %} No {% endif %}</p>
        {% endif %}

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

</div>

{% endblock %}